@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --main-bg-color: #3391f0;
}

/* ALERTS */
.msg-container{
    position: relative;
    opacity: 1;
}


.alert {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1vh 35vw;
    text-align: center;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 5px;
    border-radius: 0.25rem;
    width: 30vw;
    z-index: 99;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* NAVBAR */
nav{
  /* display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; */
  background: var(--main-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 0 100px;
}

nav .logo{
  font-size: 35px;
  font-weight: 600;
  /* border: 1px solid black; */
}

.logo a{
  /* border: 1px solid red; */
  text-decoration: none;
  color: #fff;
  display: flex;
  gap: 3px;
}

.logo a img{
  align-self: center;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  /* border: 1px solid green; */
  /* height: 360px; */
  gap: 3px;
  margin-top: 13px;
}

nav ul li{
  /* margin: 0 5px;
  min-height: 100%; */
  /* border: 1px solid rgb(38, 0, 255); */
}

nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
transition: all 0.3s ease;
  color: #fff;
  font-weight: 500;
  padding: 8px 15px;
  letter-spacing: 1px;
}

nav ul li a.active,
nav ul li a:hover
{
  color: #fff;
  background: #000;
  text-decoration: none;
}

.search-form{
  /* display: flex;
  flex-direction: row; */
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

.clean-search{
    /* border: 1px solid green; */
    display: flex;
}

@media (max-width: 1050px) {
    nav{
        /* background-color: red; */
    }

    nav .logo{
        font-size: 25px;
        font-weight: 600;
        /* border: 1px solid black; */
    }

    nav ul li a{
        color: #f2f2f2;
        text-decoration: none;
        font-size: 13px;
        border-radius: 5px;
      transition: all 0.3s ease;
        color: #fff;
        font-weight: 500;
        padding: 4px 7px;
        letter-spacing: 1px;
      }

      .search-form{
        width: 180px;
        font-size: 13px;
      }
}


@media (max-width: 790px) {
    nav{
        /* background-color: yellow; */
        padding: 0 50px 0 10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    nav .logo{
        font-size: 25px;
        font-weight: 600;
        /* border: 1px solid black; */
    }

    .logo a{
        display: none;
      }

    nav ul li a{
        color: #f2f2f2;
        text-decoration: none;
        font-size: 13px;
        border-radius: 5px;
      transition: all 0.3s ease;
        color: #fff;
        font-weight: 500;
        padding: 4px 7px;
        letter-spacing: 1px;
      }

      .search-form{

        width: 90px;
        font-size: 13px;
      }

      nav ul li{
        flex-wrap: nowrap;
      }
}



/* BASIC */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

/* AUTH */
.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

.auth-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.btn-auth {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn-auth:hover {
  background-color: #4d84e2;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
  margin: 0;
  padding: 0;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn-auth.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn-auth.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

/* HOME */
.home-container{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.home-container img{
  max-width: 80%;
}

/* CLIENT */
.client-container{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: #adacac;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.header_fixed {
  max-height: 100vh;
  width: 100%;
  overflow: auto;
  border: 1px solid #dddddd;
}

.header_fixed thead th {
  /* position: sticky; */
  top: 0;
  background-color: black;
  color: #e6e7e8;
  font-size: 15px;
}

th,
td {
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #edeef1;
}

tr:hover td {
  background-color: #ffffff;
}

td button {
  border: none;
  padding: 7px 20px;
  border-radius: 20px;
  background-color: black;
  color: #e6e7e8;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* SERVICE */
.service-container{

}

.delete-form{
    padding: 50em;
}

.delete-form button{
    padding: 0;
    margin: 0;
}

.form-group-nf-container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nf{
    display: flex;
    /* border: 1px solid red; */
    flex-direction: row;
    justify-content: center;
}

.nf-item{
    /* border: 1px solid green; */
    width: auto;
}

.dropdown-item:hover{
  background-color: #4481eb;
  color: #fff;
}

/* BUDGET */
.budget-container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}


.budget-form{
    /* border: 1px solid yellowgreen; */
    display: flex;
}

.button{
    /* border: 1px solid green; */
    width: 2510px;
}

.budget-container .form-group{
    display: flex;
    flex-wrap: wrap;
    margin: 2em auto;
    /* border: 1px solid black; */
}

.non-changeable{
    flex: 2 1 1000px;
}

.budget-container .form-group select{
    flex: 2;
    margin-right: 5px;
}

.budget-container .form-group button{
    flex: 1;
}

.chosen-client{
    /* color: red; */
    padding-top: 5px;
}


#budget-service{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    max-width: 560px;
}

#budget-service p{
    font-weight: bold;
}

.services{
    /* border: 1px solid black; */
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.service-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 1px solid blue; */
}

.check + label {
    display: block;
    margin: 0.2em;
    cursor: pointer;
    padding: 0.2em;
  }

.check {
    display: none;
  }

.check + label:before {
    content: "\2714";
    border: 0.1em solid #000;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: middle;
    color: transparent;
    transition: .2s;
}

.check + label:active:before {
    transform: scale(0);
}

.check:checked + label:before {
    background-color: #04befe;
    border-color: #4481eb;
}


/* FOOTER */
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.social-links,.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-btn {
    cursor: pointer;
    /* height: 50px;
    width: 50px; */
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 10px;
    /* box-shadow: 0px 10px 10px rgba(0,0,0,0.1); */
    /* background: white; */
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
  }

  .social-btn img {
    height: 50px;
    width: 50px;
  }

  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
  }

  .social-btn:hover {
    width: 150px;
    border-radius: 5px;
  }

  .social-btn:hover span {
    padding: 2px;
    width: 80px;
  }
